<nav class="navbar navbar-expand-md navbar-light bg-fade">
    <a class="navbar-brand" href="#">systemkultur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li {% if page.title == "Home" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link" href="{{"/" | prepend: site.baseurl }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li {% if page.title == "Impressum" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link" href="{{"/impressum/" | prepend: site.baseurl }}">Impressum</a>
        </li>
      </ul>
    </div>
  </nav>