
.post {

  .wrapper {
    max-width: none;
    margin: 0;
  }

  h2 {
    font-weight: 100;
    font-size: 21px;
    line-height: 28px;
  }

  h3 {
    margin-top: 20px;
    font-weight: 500;
  }

  p {
    font-size: 21px;
  }
  
  img[alt=team] {
    width: 100%;
  }
}
